* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.wrapper {
    text-align: center;
    min-height: calc(100% - 4rem);
}

img {
    padding-top: center;
    width: 1000px;
    height: 400px;
}

.footer {
    height: 4rem;
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: fantasy;
    font-size: medium;
}